@very_dark_green: #031c06;
@dark_green: #043b05;
@green: #207b25;
@light_green: #71cc49;
@very_light_green: #99d578;

body {
    background-color: @very_dark_green;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.footer {
    color: white;
    background-color: @green;
    font-size: 11pt;
    text-align: center;
    padding: 7px;
}

.navbar {
    margin: 0 0 15px 0;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: block;
        li {
            display: inline;
            float: left;
            padding: 0;
            margin: 0;
            a {
                display: block;
            }
        }    
    }
    ul:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .nav_item {
        width: 100px;
        padding: 10px;
        text-align: center;
        background-color: @green;
        color: white;
        text-decoration: none;
    }
    .nav_item:hover {
        background-color: @light_green !important;
    }

}

.index {
    background-color: @green;
    margin: 10px 0;
    text-align: justify;
    font-size: 16pt;
    color: white;
    padding: 15px;
}
